doctype html

html
   head
      title Decumentation
      link(href='css/main.css', rel='stylesheet', type='text/css')
      script(src='js/modernizr.js')
      
   body
      header
         include ./0-layouts/navbar.jade
      section
         include ./0-layouts/sidenav.jade
         include ./0-layouts/docbody.jade
      
      script(src='js/main.js')