aside.left-off-canvas-menu
   form.innersearch
      .row
         .large-12.columns
            .row.collapse.prefix-round.postfix-round
               .small-9.columns
                  input(type='text', placeholder='documents')
               .small-3.columns
                  a.button.postfix(href='#') Go

   ul.off-canvas-list.typo
     li
        label Documentation
     li
        a(href='#', class="hvr-bounce-to-right")
         i.fa.fa-info &nbsp; Getting Started
     li
        a(href='#' , class="hvr-bounce-to-right")
         i.fa.fa-cog  &nbsp; Developer Docs

     li
        label Users
     li
        a(href='#', class="hvr-bounce-to-right")
         i.fa.fa-user &nbsp; User Docs
     li
        a(href='#', class="hvr-bounce-to-right")
         i.fa.fa-phone &nbsp; Ask For Support
