aside.left-off-canvas-menu
   form.innersearch
      .row
         .large-12.columns
            .row.collapse.prefix-round.postfix-round
               .small-9.columns
                  input(type='text', placeholder='documents')
               .small-3.columns
                  a.button.postfix(href='#') Go
   ul.off-canvas-list
      li
         label Documentation
      li
         a(href='#') First header
      li
         a(href='#') Second header
      li
         a(href='#') Third header
      li
         label Users
      li
         a(href='#') Old users
      li
         a(href='#') New users